<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Error</title>
	</head>
	<body>
		<h1>The Resource that you are trying to reach does not exist.</h1>
        <p><%= error %></p>
        <a href="/welcome">You may return to the site by clicking this link.</a>
	</body>
</html>