<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Live Football Premier League</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--================================================================
        Scripts
    =================================================================-->
    <link rel="stylesheet" href="assets/css/normalise.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="assets/js/main.js" defer></script>
</head>

<body id="formbanner">
    <!--================================================================
        Log-in
    =================================================================-->
    <div class="formwrapper">
        <h1 class="logintextbig">Login</h1>
        <form action="login" method="POST">
            <label for="username" class="logintext">Username</label><br>
            <input type="text" class="roundedcorners" id="username" name="username" placeholder="Enter username" required><br>
            <label for="password" class="logintext">Password</label><br>
            <input type="password" class="roundedcorners" id="password" name="password" placeholder="Enter password" required><br><br>
            <input type="submit" value="Login" class="button alt">
        </form>
    </div>
</body>

</html>